<!DOCTYPE html>
<div class="main float-left">
    <div class="col-sm-4 left-panel top-margin">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Security Framework
            </div>
            <div class="panel-body content">

            </div>
        </div>
    </div>
    <div class="col-sm-4 top-margin right-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Select An Item
            </div>
            <div class="panel-body content">

            </div>
        </div>
    </div>
    <div class="col-sm-4 right-panel float-right">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Select An Item
            </div>
            <div class="panel-body content">

            </div>
        </div>
    </div>
</div>