<div class="main float-left">
    <div class="col-sm-4" style="width:35%; margin-top:1%">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Administrative Functions
            </div>
            <div class="panel-body content">

            </div>
        </div>
    </div>
    <div class="col-sm-4 top-margin right-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Administrative Function Details
            </div>
            <div class="panel-body content">

            </div>
        </div>
    </div>
</div>